.formContainer {
  max-width: 800px;
  margin: auto;
  color: #333;
  overflow: hidden;
  height: 100%;
}

@media screen and (min-width: 990px) {
  .ZIndex {
    z-index: 25;
  }
}

@media screen and (max-width: 680px) {
  .ZIndex {
    z-index: 20;
    margin-top: 60px;
  }
  .dateContainer {
    flex-direction: column;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker-wrapper  input {
    width: 100%;
    margin-left: 15px;
  }
  .row {
    padding: 20px;
  }
  .wrapp {
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    -webkit-align-items: end;
  }
  .wrapp label {
    margin-right: 14rem;
  }
}

.boxContainer {
  border-left: 5px solid #060b26;
  border-right: 5px solid #060b26;
}

.dateContainer {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
